.file-tree ul {
  padding: 0 0 0 12px;
  list-style-type: none;
}

.tree-node__icon img {
  height: 20px;
  width: 20px;
}

.tree-node__icon::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
}

.tree-node--hasChildren {
  display: flex;
}
.tree-node--hasChildren::before {
  content: url("../menu-right.svg");
}
