.file-tree ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.file-tree .tree-node > div.selected {
  background-color: #eee;
}

.file-tree .tree-node--hasChildren::before {
  content: url("../images/menu-right.svg");
}
