.file-table .table__row {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 0 4px 0;
}
.file-table .table__head {
  border-bottom: 1px solid #eee;
}
.file-table .table__col {
  flex: 1 1 0;
}

.file-table .tree-node__icon::before {
  content: "";
  width: 0;
}
.file-table .table__row.selected {
  background-color: #eee;
}
